@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Using ASP.NET Core with EF 6.4.x</h3>
</div>

<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-page="/Tickets/Create">Create Ticket</a>
</div>